@{
    ViewData["Title"] = "Home";
}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slides/carrossel-5.jpg" class="d-block w-100" alt="Imagem 1">
        </div>
        <div class="carousel-item">
            <img src="~/img/slides/carrossel-10.jpg" class="d-block w-100" alt="Imagem 2">
        </div>
        <div class="carousel-item">
            <img src="~/img/slides/carrossel-6.jpg" class="d-block w-100" alt="Imagem 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-caption-custom">
        <h1>MONTE SUA SETUP COM ESTILO!</h1>
    </div>
    <div>

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @* Mesas *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/6/mesa-gamer-1.jpg"
                                alt="Mesa para Escritório Diretor Estilo Industrial 150cm Kuadra" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mesa Kuadra 150cm</h5>
                                    <div class="text-muted text-decoration-line-through">R$430,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$420,00</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/6-2/mesa-1.webp"
                                alt="Mesa Para Computador Gamer Rubi, Branco 156,5 cm" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mesa Para Computador Gamer Rubi 156,5 cm</h5>
                                    <!-- Product price-->
                                    R$420,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/6-3/mesa-1.jpeg"
                                alt="Mesa Gamer e Escritório XT Racer Space One" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mesa Gamer e Escritório XT Racer Space One</h5>
                                    <div class="text-muted text-decoration-line-through"> R$629,98</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 566,98</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/6-4/mesa-1.jpeg"
                                alt="Escrivaninha Em L Max Zanzini" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Escrivaninha Em L Max Zanzini</h5>
                                    <!-- Product price-->
                                   R$349,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    @* Mouse pad *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/5/mousepaad-1-1.jpeg"
                                alt="Mouse pad de carregamento sem fio Firelison 2 em 1" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Pad Firelison 2 em 1 </h5>
                                    <!-- Product price-->
                                    R$411,78
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/5-4/mousepad-4-2.webp"
                                alt="Mouse Pad Gamer Criarte, Speed Extra Grande, Abstract Premium, Preto E Branco - 70x30 Cm" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Pad Gamer Criarte</h5>
                                    <!-- Product price-->
                                    R$55,90
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/5-3/mousepad-3-1.jpg"
                                alt="Mousepad Techsource - Topo Black V2" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mousepad Techsource V2</h5>
                                    <div class="text-muted text-decoration-line-through"> R$ 181,74</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$178,54</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                     
                     <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/5-2/mousepad-3.jpg"
                                alt="Mouse Pad Corsair MM700 3XL RGB" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Pad Corsair MM700 3XL RGB</h5>
                                    <div class="text-muted text-decoration-line-through"> R$ 949,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$759,20</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>

                    @* Monitores *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/17/monitor-3.jpg"
                                alt="Monitor MSI Pro MP241CAW 24 FHD 75Hz Curvo VA Branco" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Monitor MSI Pro MP241CAW 24</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 2.764,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 2.564,00</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/17-2/monitor-17-2.jpg"
                                alt="Monitor Gamer Curvo 30" MSI Optix MAG301CR / HDMI x2 / DP / WFHD / 200Hz / 1ms / HDR / MSI RGB Mystic Light" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Monitor MSI MAG301CR 30'', 200Hz</h5>
                                    <div class="text-muted text-decoration-line-through">R$9,999.00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$7,499,99</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/17-3/monitor-17-3.jpg"
                                alt="Monitor GameMax Gamer Curvo 27 Pol 144Hz 1ms Full HD GMX27C144 Branco - Open Box" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Monitor GameMax GMX27C144 27' </h5>
                                    <div class="text-muted text-decoration-line-through">R$ 1.563,21</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 1.359,32</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/17-4/monitor-17-6.jpeg"
                                alt="Monitor curvo de 34' com tecnologia QD-OLED e AMD FreeSync™ Premium Pro" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Monitor 34'' Curvo QD-OLED, FreeSync Pro </h5>
                                    <div class="text-muted text-decoration-line-through">R$ 7.399,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 6.289,15</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>

                    @* Suportes para monitores *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/10-3/suporte-monitor-10-3.jpeg"
                                alt="Suporte de monitor Armstrong DUO Branco - Elements" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte de Monitor Armstrong DUO Branco</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 1.309,90</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 849,00</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/10-4/suporte-monitor-17-4.jpeg"
                                alt="Suporte De Mesa Duplo Com Pistão A Gás 14 À 32'' Sim-2500 Cor Preto" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Duplo de Mesa SIM-2500, 14''-32''</h5>
                                    <!-- Product price-->
                                    R$295,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/10/suporte-monitor-1.jpg"
                                alt="Suporte Articulado Com Pistao a Gas Para Monitor Zinnia Nimbo 100, 17 Pol. a 27 Pol., Branco, ZNO-ZNNBO100-WH01" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Articulado Zinnia Nimbo 100</h5>
                                    <!-- Product price-->
                                    R$129,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/10-2/suporte-monitor-10-2.jpeg"
                                alt="Suporte Para Monitor De Parede A Gás 17 A 32 Articulado Vesa Cor Preto" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Articulado 17''-32'' VESA </h5>
                                    <div class="text-muted text-decoration-line-through">R$ 309,99</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 279,99</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    
                    @* Suportes para notebooks *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/3-2/suporte-3-2.jpeg"
                                alt="Suporte Dobrável Ergonômico Portátil Slim Para Notebook Tablet Ajustável Luuk Young S50 Prateado" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Ergonômico Dobrável Luuk Young S50 Prateado</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 25,99</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 24,11</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/3-3/suporte-3-3.jpeg"
                                alt="Suporte Mesa Base Notebook Alumínio Regulável Leitura Cor Preto" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Regulável de Alumínio para Notebook</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 101,96</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 79,53</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/3-4/suporte-3-4.jpeg"
                                alt="Suporte Notebook Aluminio Regulavel Base Giratoria 360º" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Regulável de Alumínio para Notebook com Base Giratória 360º</h5>
                                    <!-- Product price-->
                                    R$115,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/3/suporte-1.jpg"
                                alt="Base Suporte Ergonômico Para Notebook Tablet Dobrável top - Home Good" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte Ergonômica Home Goods</h5>
                                    <!-- Product price-->
                                    R$50,15
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    
                    @* Led para monitores *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/11/led-monitor-4.jpg"
                                alt="Barra de LED para Monitor Pcyes PLMLCB01, 447x85mm, Regulagem Touch, USB, Preto - 111552" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Barra de LED Pcyes</h5>
                                    <!-- Product price-->
                                    R$169,90
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/11-2/led-11-2.jpeg"
                                alt="Light Bar, Preto, RGB Lightbar, Light Bar Monitor com Tres temperaturas de cor 15 cores modo, Luz Monitor, Led Monitor Light Bar, Barra de Luz para Monitor, Lightbar Monitor, Luminaria Monitor" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Led para monitor, com três temperaturas de cor e 15 modos de cor</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 189,99</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 199,99</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/11-3/led-11-3-4.jpeg"
                                alt="Baseus Luminária Led Monitor E Notebooks Regulável Cor Preta" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Led para Monitor E Notebooks Regulável </h5>
                                    <!-- Product price-->
                                    R$289,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/11-4/led-11-4.jpeg"
                                alt="Gugxiom Barra de luz curvada para monitor, lâmpada de monitor de computador, barra de LED para monitor de PC com 3 ajustes de temperatura de cor e 7 cores RGB, luz de monitor óptico assimétrica de 5V" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Barra de Luz LED Curva para Monitor, com 3 temperaturas de cor e 7 cores RGB.</h5>
                                    <div class="text-muted text-decoration-line-through">R$288,10</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 278,10</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    @* Webcam *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/8/web-cam-1.jpg"
                                alt="Web cam aicoco 2k Web Cam Com Microfone Ai Auto Ac610" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Webcam Aicoco 2K</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 649,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 584,10</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/8-2/webcam-8-2.jpeg"
                                alt="Webcam Philips SPL6208 1080P com microfone para streaming de PC" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Webcam Philips com microfone </h5>
                                    <!-- Product price-->
                                    R$438,33
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/8-3/webcam-8-3.jpeg"
                                alt="Logitech StreamCam Webcam USB-C Full HD Blanca" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Webcam USB-C Full HD Branca</h5>
                                    <div class="text-muted text-decoration-line-through">R$ 732,18</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 658,96</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/8-4/webcam-8-4.jpeg"
                                alt="1080p Full Hd Usb Webcam Para PC Desktop Laptop Web Camera Com Microfone Fhd - HUOGUO" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Webcam 1080p Full HD com microfone - HUOGUO</h5>
                                    <!-- Product price-->
                                    R$375,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    @* Teclados *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/1/teclado-mecanico-3.jpg"
                                alt="TECLADO EPOMAKER RT100" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Teclado EPOMAKER RT100</h5>
                                    <div class="text-muted text-decoration-line-through">R$649,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$554,22</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/1-3/teclado-1-3.jpeg"
                                alt="Attack Shark Ajazz AK820 Teclado mecânico para jogos com botão 75% teclado Hot Swappable Tipo-C com fio junta com 5 camadas de espuma absorvente de ruído branco LED retroiluminado NKRO interruptor" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Teclado mecânico Attack Shark Ajazz AK820 com LED branco e NKRO</h5>
                                    <!-- Product price-->
                                    R$349,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/1-2/tecaldo-1-2-3.jpeg"
                                alt="Teclado Gamer Semi - Mecânico Rise Mode G1 Rgb Ptbr (Branco)" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Teclado Gamer Semi - Mecânico</h5>
                                    <!-- Product price-->
                                    R$69,90
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/1-4/teclado-1-4.webp"
                                alt="TECLADO EPOMAKER RT100" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Teclado EPOMAKER RT100</h5>
                                    <div class="text-muted text-decoration-line-through">R$729,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$629,22</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>

                    @* Mouses *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/2/mouse-1-6.webp"
                                alt="Mouse Gamer Sem Fio Logitech G PRO X SUPERLIGHT 2 com LIGHTSPEED e Bateria Recarregável" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Logitech G PRO X SUPERLIGHT 2</h5>
                                    <div class="text-muted text-decoration-line-through">R$941,91</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$847,71</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/2-2/mouse-2-2.jpeg"
                                alt="Mouse Gamer X6 Attack Shark Tri Mode 26000dpi Paw3395 + Dock Cor Preto" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Gamer X6 Attack Shark</h5>
                                    <!-- Product price-->
                                    R$240,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/2-3/mouse-2-3.jpeg"
                                alt="Mouse Gamer X11 Attack Shark Tri Mode 22000dpi Paw3311 Dock Cor Branco" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Gamer X11 Attack Shark</h5>
                                    <!-- Product price-->
                                    R$250,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/2-4/mouse-2-4-3.jpeg"
                                alt="Mouse Gamer Sem Fio Logitech G PRO Wireless LIGHTSPEED RGB" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Mouse Logitech G PRO Wireless LIGHTSPEED RGB</h5>
                                    <div class="text-muted text-decoration-line-through">R$570,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$550,00</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>

                    @* Fone *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/7/fone-1.jpg"
                                alt="Headtset Gamer Redragon Zeus Pro, Surround 7.1, Cabo USB-C Removível, Wireless, c/Microfone, Preto - H510-PRO" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Headset Redragon Zeus Pro</h5>
                                    <!-- Product price-->
                                    R$430,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/7-2/fone-7-2-3.jpeg"
                                alt="HAVIT Fone de Ouvido Headset Gamer FUXI-H3 Quad-Mode (com fio e sem fio, Wireless 2,4GHz, Bluetooth, Cabo USB-C, Cabo Auxiliar 3.5mm). Surround, Baixa Latência - Preto" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fone gamer HAVIT FUXI-H3, quad-mode, Bluetooth, 2,4GHz, USB-C, 3.5mm</h5>
                                    <!-- Product price-->
                                    R$250,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/7-3/fone-7-3.jpeg"
                                alt="2.4ghz Gaming Headset Para Pc,ps4,ps5,mac,nintendo Switch" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Headset 2.4GHz para PC, PS4, PS5, Mac e Nintendo Switch</h5>
                                    <!-- Product price-->
                                    R$338,90
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/7-4/fone-7-4-2.jpeg"
                                alt="Headset Gamer Sem Fio Quantum 350 Para Pc Drivers 40mm Jbl Cor Preto" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Headset gamer sem fio JBL Quantum 350, drivers 40mm</h5>
                                    <!-- Product price-->
                                    R$379,99
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>

                    @* Caixa de som *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/16/caixa-de-som-1.jpg"
                                alt="Caixa de som Gamer G2000 Bluetooth 16W RMS EDIFIER - Branco" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Caixa de Som EDIFIER G2000</h5>
                                    <div class="text-muted text-decoration-line-through">R$499,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$449,10</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/16-2/caixa-de-som-16-2.jpeg"
                                alt=" HP Caixa de som 2.1 DHS-2111S Preta Speaker com Alimentacao USB e conector 3.5mm potência do Subwoofer 5W 2B285AA" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Caixa de Som 2.1 Speaker</h5>
                                    <!-- Product price-->
                                    R$169,90
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/16-3/som-16-3.jpeg"
                                alt=" BESTISAN Bluetooth Bookshelf RCA Speakers for Record Player, Turntable Speaker with 4 inch Woofer, Optical/RCA Inputs for PC and TV, White, Pair, SR06" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Caixa de Som BESTISAN SR0</h5>
                                    <div class="text-muted text-decoration-line-through">R$419,94</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$377,94</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/16-4/som-16-4.jpeg"
                                alt=" Bestisan SR04 Bluetooth Bookshelf Speakers for Record Player, Powered Studio Speaker for TV with Sub Out Port, Horn Tweeter and Optical/RCA/BT Inputs" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Caixa de Som BESTISAN SR04</h5>
                                    <div class="text-muted text-decoration-line-through">R$475,14</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$427,62</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>

                    @* Suporte de pulso *@
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/9/apoio-de-pulso.jpg"
                                alt="Suporte de pulso ergonômico para teclado em formato de nuvem" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte de Pulso Nuvem</h5>
                                    <!-- Product price-->
                                    R$313,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/9-2/apoio-de-pulso-9-2-2.jpeg"
                                alt="Bloss Almofada de mesa de couro e descanso de pulso para teclado, mouse pad grande + teclado + suporte de pulso para mouse, protetor de mesa antiderrapante para escritório, casa (80 x 40 cm, bege)" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte de Pulso e Mouse Pad</h5>
                                    <div class="text-muted text-decoration-line-through">R$234,75</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$214,75</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/9/apoio-de-pulso.jpg"
                                alt="Suporte de descanso de pulso para teclado e mouse, com espuma de memória ergonômica, base antiderrapante para escritório doméstico, laptop, desktop" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Suporte de Pulso Nuvem</h5>
                                    <!-- Product price-->
                                    R$25,95
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/14/eilik-1.jpg"
                                alt="Eilik Robô - Robô Inteligente" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Eilik Robô</h5>
                                    <div class="text-muted text-decoration-line-through">R$1.599,00</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$ 1.439,10</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/12/relogio-2.jpeg"
                                alt="Relógio Digital 3D LED De Parede e Mesa Design Moderno Luz Noturna Decoração" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Relógio Digital 3D LED</h5>
                                    <!-- Product price-->
                                    R$40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/15/difusor-2.webp"
                                alt="Umidificador em forma de nuvem com suporte dourado" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Umidificador Nuvem</h5>
                                    <!-- Product price-->
                                    R$285,00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                                Promoção</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="~/img/produtos/4/cadeira-1.webp"
                                alt="Cadeira Gamer Flexform Delta White N Blue" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Cadeira Gamer Flexform Delta</h5>
                                    <div class="text-muted text-decoration-line-through">R$1.619,10</div>
                                    <!-- Product price-->
                                    <div class="fw-bold text-success">R$1.457,19</div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver
                                        opções</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>